<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flavorfleet</title>
    <link rel="stylesheet" href="http://localhost:4000/styles/Home.css">
    <link rel="stylesheet" href="http://localhost:4000/styles/cart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="short icon" href="/image/short_icon.png">
</head>
<body>

    <section id="Home">

        <nav>
            <div class="logo">
                <a href="/"><img src="/image/logo4.png"></a>
            </div>
           
            <ul>
                <!-- <li><a href="index.html" class="action"></a>Home</a></li> -->
                <li><a href="/search"><h3><i class="fa-solid fa-magnifying-glass"></i>Search</h3></a></li>
                <li><a href="https://www.themealdb.com/browse.php?b=m"><h3><i class="fa-solid fa-tag"></i>Items</a></h3></li>
                <li><a href="/help"><h3><i class="fa-solid fa-life-ring"></i></i>Help</a><h3></li>
                <li><h3><a href="/cart"><i class="fa-solid fa-cart-shopping"></i>Cart</a></h3></li>
            </ul>

            <div class="login">
                <h3><a href="/">Login</a></h3>
            </div>
            
        </nav>
        <div class="main">
    
    <section id="Home">
        
    </section>
    
    <section id="Cart">
        <div class="main">
            <div id="empty-cart-message" class="empty-cart-message">
            <div class="_3Y9ZP">Your cart is empty</div>
            <div class="d7jCU" >You can go to the home page to view more delacious food</div>
            <button class="_3pgCg"><a href="/Home"style="color: white; text-decoration: none;">Explore Delicious Options </a></button>
            </div>
        </div>
        <div class="cart-items">
           
   
            <button id="add-to-cart" data-name="Item Name" data-description="Item Description">Add to Cart</button>
        </div>
    </section>
  

   
       <script src="http://localhost:4000/js/cart.js"></script>
      
  
    </body>
    </html>