<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flavorfleet</title>
    <link rel="stylesheet" href="http://localhost:4000/styles/Home.css">
    <link rel="stylesheet" href="http://localhost:4000/styles/cart.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="short icon" href="/image/short_icon.png">
</head>
<body>

    <section id="Home">

        <nav>
            <div class="logo">
                <a href="/"><img src="/image/logo4.png"></a>
            </div>
          
            <ul>
                <!-- <li><a href="index.html" class="action"></a>Home</a></li> -->
                <li><a href="/search"><h3><i class="fa-solid fa-magnifying-glass"></i>Search</h3></a></li>
                <li><a href="#"><h3><i class="fa-solid fa-tag"></i>Offers</a></h3></li>
                <li><a href="/help"><h3><i class="fa-solid fa-life-ring"></i></i>Help</a><h3></li>
                <li><h3><a href="/cart"><i class="fa-solid fa-cart-shopping"></i>Cart</a></h3></li>
            </ul>

            <div class="login">
                <h3><a href="/login">Login</a></h3>
            </div>
            
        </nav>
        <div class="main">

            <div class="main">
              <div class="_3Y9ZP">Your cart is empty</div>
             <div class="d7jCU">You can go to home page to view more restaurants</div>
            <div class="_3pgCg">SEE RESTAURANTS NEAR YOU</div>
            
            </div>

        </div>

    
<!-- footer -->
        <footer>

            <div class="footer_main">
    
                <div class="footer_tag">
    
                    <h2>Location</h2>
                    <p>Sri Lanka</p>
                    <p>USA</p>
                    <p>India</p>
                    <p>Japan</p>
                    <p>Italy</p>
    
                </div>
    
                <div class="footer_tag">
    
                    <h2>Quick Link</h2>
                    <p>Search</p>
                    <p>Offers</p>
                    <p>Help</p>
                    <p>Cart</p>
                    
    
                </div>
    
                <div class="footer_tag">
    
                    <h2>Contact</h2>
                    <p>+91 9233110188</p>
                    <p>+94 25 5568 456</p>
                    <p>sagnikdas5432@gmail.com</p>
                    <p>Flavorfleet123@gmail.com</p>
    
                </div>
    
                <div class="footer_tag">
    
                    <h2>Our Services</h2>
                    <p>Fast Delivery</p>
                    <p>Easy Payments</p>
                    <p>24 x 7 Service</p>
    
                </div>
    
                <div class="footer_tag">
    
                    <h2>Follows</h2>
                    <i class="fa-brands fa-facebook-f"></i>
                    <i class="fa-brands fa-twitter"></i>
                    <i class="fa-brands fa-instagram"></i>
                    <i class="fa-brands fa-linkedin-in"></i>
    
                </div>
    
            </div>
    
            <p class="end">Developed by<span></i>Sagnik</span></p>
    
        </footer>
   
       
  
    </body>
    </html>