<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flavorfleet</title>
    <link rel="stylesheet" href="http://localhost:4000/styles/Home.css">
    <link rel="stylesheet" href="http://localhost:4000/styles/dish.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="short icon" href="image/short_icon.png">
</head>
<body>

    <section id="Home">

        <nav>
            <div class="logo">
                <a href="/Home"><img src="http://localhost:4000/image/logo4.png"></a>
            </div>
          
            <ul>
                <!-- <li><a href="index.html" class="action"></a>Home</a></li> -->
                <li id="Effect"><a href="/search"><h3><i class="fa-solid fa-magnifying-glass"></i>Search</h3></a></li>
                <li id="Effect"><a href="https://www.themealdb.com/browse.php?b=m"><h3><i class="fas fa-tasks"></i>Items</a></h3></li>
                <li id="Effect"><a href="/help"><h3><i class="fas fa-user-tie"></i></i>Help</a><h3></li>
                <li id="Effect" ><h3><a href="/cart"><i class="fas fa-shopping-basket"></i>Cart</a></h3></li>
            </ul>

            <div class="login">
                <h3><a href="/">Login</a></h3>
            </div>

        </nav>

<h1>Dish Details</h1>
<!-- name  -->
<div id="dish-name">
</div>
<!-- image  -->

<div id="dish-image">
</div>

<div id="rating">
    <i class="fa-solid fa-star" style="color: #f5d60a;"></i>
    <i class="fa-solid fa-star" style="color: #f5d60a;"></i>
    <i class="fa-solid fa-star" style="color: #f5d60a;"></i>
    <i class="fa-solid fa-star" style="color: #f5d60a;"></i>
    <i class="fa-solid fa-star" style="color: #f5d60a;"></i>
</div>

<!-- location -->

<div id="dish-location">
</div>
<!-- <h2 id="food">food</h2> -->

<button id="add-to-cart" data-name="Item Name" data-description="Item Description">Add to Cart</button>


<!-- <button class="Add-to-cart" data-name="Item Name" data-description="Item Description">Add to Cart</button> -->


<script src="http://localhost:4000/js/dish.js"></script>

</body>
</html>


