<!DOCTYPE html>

<html lang="en" >

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flavorfleet</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Philosopher:wght@700&display=swap" rel="stylesheet">
    
    <link rel="stylesheet" href="styles/Home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="short icon" href="image/logo4.png">

</head>

<body>
    <section id="Home">

        <nav>
            <div class="logo">
                <a href="/Home"><img src="image/logo4.png"></a>
            </div>

            <ul>
                <!-- <li><a href="index.html" class="action"></a>Home</a></li> -->
                <li id="Effect"><a href="/search">
                        <h3><i class="fa-solid fa-magnifying-glass"></i>Search</h3>
                    </a></li>
                <li id="Effect"><a href="https://www.themealdb.com/browse.php?b=m">
                        <h3><i class="fas fa-tasks"></i>Items
                    </a></h3>
                </li>
                <li id="Effect"><a href="/help">
                        <h3><i class="fas fa-user-tie"></i></i>Help
                    </a>
                    <h3>
                </li>
                <li id="Effect">
                    <h3><a href="/cart"><i class="fas fa-shopping-basket"></i>Cart</a></h3>
                </li>
            </ul>
        </nav>

        <div class="main">

            <div class="main_text">

                <h1>Get Fresh<span> Food</span><br>in a Easy Way</h1>

                <p>
                    Welcome to Flavorfleet - your ultimate destination for experiencing the finest culinary delights
                    from around the world, delivered right to your doorstep. We're here to transform your dining into a
                    journey of taste and convenience, offering a diverse array of delectable dishes that capture the
                    essence of every country's culinary excellence. Join us in embracing a symphony of flavors, where
                    convenience meets gourmet brilliance. Your satisfaction is our commitment, and your cravings are our
                    inspiration.
                </p>

                <a href="/search" class="btn"><i class="fa-solid fa-burger"></i>Order Now</a>

            </div>

            <div class="main_image">
                <img src="image/main_img.png">
            </div>

        </div>

    </section>




    <!--About-->

    <div class="about">

        <div class="about_main">

            <div class="about_image">
                <img src="image/about.png">
            </div>

            <div class="about_text">
                <div class="title-box">
                    <h1 class="title"><span>About</span>Us</h1>
                </div>
                <h3>why food choose us?</h3>
                <p>
                    Our team at FlavorFleet has years of experience in the food industry, making us experts in
                    understanding what our audience craves. We have the knowledge and skills to provide you with the
                    best food content that appeals to your taste buds and satisfies your cravings.



                    With our carefully curated collection of recipes, we offer a wide range of options to choose from.
                    Whether you prefer traditional cuisine or international flavors, vegetarian or meat-based dishes, we
                    have something for everyone. Our aim is to cater to diverse tastes and preferences, ensuring that
                    you never run out of ideas for your next delicious meal.
                </p>

                <div class="about_services">

                    <div class="s_1">
                        <i class="fa-solid fa-truck-fast"></i>
                        <a href="#">Fast Delivery</a>
                    </div>

                    <div class="s_1">
                        <i class="fa-brands fa-amazon-pay"></i>
                        <a href="#">Easy Payment</a>
                    </div>

                    <div class="s_1">
                        <i class="fa-solid fa-headset"></i>
                        <a href="#">24 x 7 Services</a>
                    </div>

                </div>

                <a href="#" class="about_btn">
                    <i class="fa-solid fa-burger"></i>Order Now
                </a>

            </div>

        </div>

    </div>




    <!--Menu-->

    <div class="menu">

        <h1>Our<span>Menu</span></h1>

        <div class="menu_box">

            <div class="menu_card">

                <div class="menu_img">

                    <img src="image/menu_1.jpg" >

                </div>

                <div class="menu_text">

                    <h2>Burger</h2>
                    <p>
                        The Big Mac from McDonald's is an iconic burger
                        featuring two beef patties, special sauce, lettuce

                    </p>

                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>

                    <p class="price">$100.00<sub><del>$120.00</del></sub></p>
                    <button class="menu_btn" data-food-id="food1"><i class="fa-solid fa-burger"></i>Order Now</button>
                    <!-- <a class="menu_btn" href="dish.html?data-food-id=food1">
                        <i class="fa-solid fa-burger"></i>Order Now
                    </a> -->
                    <!-- <a href="#" class="menu_btn"><i class="fa-solid fa-burger"></i>Order Now</a> -->

                </div>

            </div>

            <div class="menu_card">

                <div class="menu_img">
                    <img src="image/menu_2.jpg">
                </div>

                <div class="menu_text">

                    <h2>Drink</h2>
                    <p>
                        Japanese Iced Coffee is incredibly cool, both in temperature and style, offering
                        a refreshing coffee
                    </p>

                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>

                    <p class="price">$100.00<sub><del>$120.00</del></sub></p>
                    <button class="menu_btn" data-food-id="food2"><i class="fa-solid fa-burger"></i>Order
                        Now</i></button>
                    <!-- <a href="#" class="menu_btn"><i class="fa-solid fa-burger"></i>Order Now</a> -->

                </div>

            </div>

            <div class="menu_card">

                <div class="menu_img">
                    <img src="image/menu_3.png">
                </div>

                <div class="menu_text">

                    <h2>Pizza</h2>
                    <p>
                        Neapolitan Pizza is a burst of culinary excellence, featuring a harmonious blend of vibrant
                        ,tomato sauce
                    </p>

                    <div class="menu_icon">
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                        <i class="fa-solid fa-star"></i>
                    </div>

                    <p class="price">$100.00<sub><del>$120.00</del></sub></p>

                    <button class="menu_btn" data-food-id="food3"><i class="fa-solid fa-burger"></i>Order
                        Now</i></button>

                </div>

            </div>

        </div>

    </div>




    <!--Banner-->

    <div class="banner">

        <h1>Special Offer</h1>

        <div class="banner_center">
            <h2>50</h2>
            <div>
                <span class="banner-percent">%</span>
                <br>
                <span class="banner-off">Off</span>
            </div>
        </div>

        <a href="#" class="banner_btn"><i class="fa-solid fa-burger"></i>Order Now</a>

    </div>




    <!--Gallery-->

    <div class="gallery">

        <h1>Popular<span>Gallery</span></h1>

        <div class="gallery_box">

            <div class="gallery_image">
                <img src="image/gallary_1.jpg">
            </div>

            <div class="gallery_image">
                <img src="http://localhost:4000/image/gallary_2.jpg">
            </div>

            <div class="gallery_image">
                <img src="image/gallary_3.webp">
            </div>

        </div>

    </div>



    <!--Offer-->

    <div class="offer">

        <div class="offer_box">

            <div class="offer_card_1">

                <div class="offer_img">
                    <img src="image/offer_1.jpg">
                </div>

                <div class="offer_tag">

                    <h2>Triplae Food</h2>
                    <h1>40%</h1>
                    <p class="offer_tag_pdiv">
                        Enjoy a mouthwatering burger paired with an ice-cold Coca-Cola, and save 40% on
                        this delicious combo that's a perfect treat for your taste buds and wallet!
                    </p>
                    <a href="#" class="offer_btn"><i class="fa-solid fa-burger"></i>Order Now</a>

                </div>

            </div>

            <div class="offer_card_2">

                <div class="offer_img">
                    <img src="image/offer_2.png">
                </div>

                <div class="offer_tag">

                    <h2>Buy 2 pizza and get a <br>free Drink</h2>
                    <p class="offer_tag_pdiv">

                        Order any two pizzas, and savor the joy of a complimentary refreshing
                        drink to enhance your dining experience. It's a delightful offer that doubles the pleasure!
                    </p>
                    <a href="#" class="offer_btn"><i class="fa-solid fa-burger"></i>Order Now</a>

                </div>

            </div>

        </div>

    </div>




    <!--Team-->

    <div class="team">

        <h1>Our<span>Team</span></h1>

        <div class="team_line_1"></div>
        <div class="team_line_2"></div>

        <div class="team_box">

                <div class="team_card">


                <div class="team_img">
                    <img src="image/team_1.jpg">
                </div>


                    <div class="team_tag">

                        <h2>Joël Robuchon (France)</h2>
                        <p class="job">Cook</p>
                        <p class="info">
                            Joël Robuchon, a culinary legend from France, was renowned for his impeccable cooking and
                            extraordinary attention to detail.
                            His signature style was characterized by the pursuit of simplicity
                        </p>

                    </div>

                </div>

            <div class="team_card">

                <div class="team_img">
                    <img src="image/team_2.jpg">
                </div>

                <div class="team_tag">

                    <h2>Julia Child (United States) </h2>
                    <p class="job">Cook</p>
                    <p class="info">
                        Julia Child, an iconic figure in American culinary history, was known for her love of French
                        cuisine. One of her most special and beloved dishes was "Boeuf Bourguignon."
                    </p>

                </div>

            </div>

            <div class="team_card">

                <div class="team_img">
                    <img src="image/team_3.jpg">
                </div>

                <div class="team_tag">

                    <h2> Jiro Ono (Japanese)</h2>
                    <p class="job">Cook</p>
                    <p class="info">
                        Jiro Ono, the legendary sushi chef, is renowned for his extraordinary mastery of sushi
                        craftsmanship.
                        His signature dish, the omakase sushi experience at Sukiyabashi Jiro
                    </p>

                </div>

            </div>

            <div class="team_card">

                <div class="team_img">
                    <img src="image/team_4.jpg">
                </div>

                <div class="team_tag">

                    <h2>Nadia Santini (Italy)</h2>
                    <p class="job">Cook</p>
                    <p class="info">
                        Nadia Santini, an Italian culinary icon, is celebrated for her exquisite "Risotto al Tartufo," a
                        sublime truffle risotto.
                        Her dish combines the creamy richness of perfectly cooked rice
                    </p>

                </div>

            </div>

        </div>

    </div>




    <!--Blog-->

    <div class="blog">

        <h1>Our<span>Blog</span></h1>

        <div class="blog_box">

            <div class="blog_card">

                <div class="blog_img">
                    <img src="image/blog_1.jpeg">
                </div>

                <div class="blog_tag">

                    <div class="blog_date">
                        <p>18 May 2022<i class="fa-solid fa-calendar-days"></i></p>
                    </div>

                    <h3 class="blog_heading">
                        Do Not Leave toko before Eating this remen
                    </h3>

                    <p class="blog_text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Eos rerum commodi fugiat eum assumenda vel cumque eaque
                        totam doloribus.
                    </p>

                    <hr>

                    <div class="view_and_like">

                        <div class="view">
                            <p>15.3K Views</p>
                            <p class="b_comm">786 comments</p>
                        </div>

                        <div class="like">
                            <p>3K</p>
                            <i class="fa-regular fa-heart"></i>
                        </div>

                    </div>

                </div>

            </div>

            <div class="blog_card">

                <div class="blog_img">
                    <img src="image/blog_2.jpg">
                </div>

                <div class="blog_tag">

                    <div class="blog_date">
                        <p>18 May 2022<i class="fa-solid fa-calendar-days"></i></p>
                    </div>

                    <h3 class="blog_heading">
                        Do Not Leave toko before Eating this remen
                    </h3>

                    <p class="blog_text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Eos rerum commodi fugiat eum assumenda vel cumque eaque
                        totam doloribus.
                    </p>

                    <hr>

                    <div class="view_and_like">

                        <div class="view">
                            <p>15.3K Views</p>
                            <p class="b_comm">786 comments</p>
                        </div>

                        <div class="like">
                            <p>3K</p>
                            <i class="fa-regular fa-heart"></i>
                        </div>

                    </div>

                </div>

            </div>

            <div class="blog_card">

                <div class="blog_img">
                    <img src="image/blog_3.jpg">
                </div>

                <div class="blog_tag">

                    <div class="blog_date">
                        <p>18 May 2022<i class="fa-solid fa-calendar-days"></i></p>
                    </div>

                    <h3 class="blog_heading">
                        Do Not Leave toko before Eating this remen
                    </h3>

                    <p class="blog_text">
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Eos rerum commodi fugiat eum assumenda vel cumque eaque
                        totam doloribus.
                    </p>

                    <hr>

                    <div class="view_and_like">

                        <div class="view">
                            <p>15.3K Views</p>
                            <p class="b_comm">786 comments</p>
                        </div>

                        <div class="like">
                            <p>3K</p>
                            <i class="fa-regular fa-heart"></i>
                        </div>

                    </div>

                </div>

            </div>

        </div>

    </div>



    <!--Order-->

    <div class="order">

        <h1><span>Order</span>Now</h1>

        <div class="order_main">

            <div class="order_img">
                <img src="image/order.png">
            </div>

            <div class="order_form">

                <h2>Home Delivery</h2>

                <div class="order_list">

                    <div class="order_left">

                        <p>Full Name</p>
                        <input type="text" placeholder="John Deo">

                        <p>Number</p>
                        <input type="number" placeholder="+94 12 345 6789">

                        <p>Extra food</p>
                        <input type="text" placeholder="with cola">

                        <p>You Address</p>
                        <textarea placeholder="Enter You Address"></textarea>

                    </div>

                    <div class="order_right">

                        <p>Email</p>
                        <input type="email" placeholder="johndeo123@gmail.com">

                        <p>Food Name</p>
                        <input type="text" placeholder="Pizza">

                        <p>How Much</p>
                        <input type="number" placeholder="3">

                        <p>You Message</p>
                        <textarea placeholder="Enter Your Message"></textarea>

                    </div>

                </div>

                <a href="#" class="order_btn"><i class="fa-solid fa-burger"></i>Order Now</a>

            </div>

        </div>

    </div>



    <!--Footer-->

    <footer>

        <div class="footer_main">

            <div class="footer_tag">

                <h2>Location</h2>
                <p>Sri Lanka</p>
                <p>USA</p>
                <p>India</p>
                <p>Japan</p>
                <p>Italy</p>

            </div>

            <div class="footer_tag" style="
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
            ">
                <h2>Quick Link</h2>
                <a href="/search" style="text-decoration: none;">Search</a>
                <a href="https://www.themealdb.com/browse.php?b=m" style="text-decoration: none;">Items</a>
                <a href="/help" style="text-decoration: none;">Help</a>
                <a href="cart" style="text-decoration: none;">Cart</a>
            </div>

            <div class="footer_tag">

                <h2>Contact</h2>
                <p>+91 9233110188</p>
                <p>+94 25 5568 456</p>
                <p>sagnikdas5432@gmail.com</p>
                <p>Flavorfleet123@gmail.com</p>

            </div>

            <div class="footer_tag">

                <h2>Our Services</h2>
                <p>Fast Delivery</p>
                <p>Easy Payments</p>
                <p>24 x 7 Service</p>

            </div>

            <div class="footer_tag">

                <h2>Follows</h2>
                <i class="fa-brands fa-facebook-f"></i>
                <a href="https://twitter.com/SagnikD80478508">
                    <i class="fa-brands fa-twitter"></i>
                </a>
                <a href="https://github.com/sagnik3788/FlavorFleet">
                    <i class="fa-brands fa-github"></i>
                </a>

            </div>

        </div>

        <p class="end">Developed by<span></i>Sagnik</span></p>

    </footer>


<script src="js/dish.js"></script>    

</body>

</html>