<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flavorfleet</title>
        <link rel="stylesheet" href="styles/Home.css">
        <link rel="stylesheet" href="styles/search.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css"
            integrity="sha512-xh6O/CkQoPOWDdYTDqeRdPCVd1SpvCA9XXcUnZS2FmJNp1coAFzvtCN9BmamE+4aHK8yyUHUSCcJHgXloTyT2A=="
            crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="short icon" href="image/short_icon.png">
    </head>

    <body>
        <section id="Home">
            <nav>
                <div class="logo">
                    <a href="/Home"><img src="http://localhost:4000/image/logo5.png"></a>
                </div>

                <ul>
                   
                    <li>
                        <a href="/search">
                            <h3 id="Effect"><i class="fa-solid fa-magnifying-glass"></i>Search </a></h3>
                       
                    </li>
                    <li>
                        <a href="https://www.themealdb.com/browse.php?b=m">
                            <h3 id="Effect"><i class="fas fa-tasks"></i>Items       </a></h3>
                 
                    </li>
                    <li>
                        <a href="/help">
                            <h3 id="Effect"><i class="fas fa-user-tie"></i></i>Help        </a></h3>
                
                    </li>
                    <li>
                        <a href="/cart">
                            <h3 id="Effect"><i class="fas fa-shopping-basket"></i>Cart        </a></h3>
                 
                    </li>
                </ul>
            </nav>

            <!-- search -->
            <div>

                <div onclick="hideallfunction()" id="hideall"></div>

                <div id="search-section-js" class="searchsection">
                    <div role="search" class="search">
                        <input tabindex="1" id="search-bar-js" class="searchbar" type="search" aria-label="Search text"
                            placeholder="Search..." name="search">
                        <button tabindex="-1" class="searchbutton" id="close-img-js" aria-label="Cancel"><img
                                src="/image/round_close_black_24dp.png" alt="cancel" class="closeimg globalsearchremove"
                                class="searchbutton" id="close-img-js" aria-label="Cancel"></button>
                        <button tabindex="2" class="searchbutton" id="search-img-js" aria-label="Search"><img
                                src="/image/round_search_black_24dp.png" alt="search" class="searchimg"></button>
                    </div>
                    <div class="middle">
                        <div class="borderbetween globalsearchremove"></div>
                    </div>
                    <div class="middle">
                        <ul tabindex="3" class="list globalsearchremove"></ul>
                    </div>
                </div>
            </div>
            <!-- footer -->

            <!-- api result -->
            <div id="search-results" class="result"></div>
            <script src="js/search.js"></script>
    </body>
</html>