footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* background-color: #333; */
    /* color: #fff; */
    padding: 20px 0;
    text-align: center;
  }
  ._3Y9ZP {
    margin-top: 24px;
    font-size: 20px;
    font-weight: 600;
    color: #535665;
}
.d7jCU {
    margin-top: 8px;
    color: #7e808c;
}
button._3pgCg {
    margin-top: 30px;
    padding: 11px 20px;
    text-transform: uppercase;
    background-color: #fc8019;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
    border: 0;
    outline: 0;
    font-size: 15px;
    text-align: center;
    -ms-transform: translateY(0);
    transform: translateY(0);
    transition: transform .8s cubic-bezier(.2,1,.2,1);
}


._3Y9ZP,
.d7jCU,
._3pgCg {
    margin: 10px; 
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 10vh; 
    text-align: center;
}



/* Add this to your CSS file */
.cart-item {
  display: flex;
    border: 1px solid #ccc;
    margin-bottom: 10px;
    padding: 10px;
    align-items: center;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .item-image {
    max-width: 100px;
    height: auto;
    margin-right: 20px;
  }
  
  .item-name {
    font-size: 18px;
    font-weight: bold;
  }
  
  .item-description {
    font-size: 14px;
  }
  
  .order-button {
    background-color: #ff5722;
    color: #fff;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .order-button:hover {
    background-color: #e64a19;
  }
  
  .item-price {
    font-size: 14px;
    color: #007bff; 
    margin-top: 5px; 
  }
  