footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  /* background-color: #333; */
  /* color: #fff; */
  padding: 20px 0;
  text-align: center;
}

/* ---------------------------nav------------------------ */
#Effect:hover::after {
  transform: scaleX(1);
}

#Effect::after {
  content: "";
  width: 150%;
  background-color: #fff;
  height: 2px;
  left: -25%;
  position: absolute;
  bottom: -6px;
  transform: scaleX(0);
  transition: transform 0.2s linear;
}
section nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: rgba(211, 200, 25, 1);
  background: linear-gradient(
    90deg,
    rgba(250, 204, 34, 1),
    rgba(228, 172, 2, 1)
  );
  position: fixed;
  right: 0;
  left: 0;
  z-index: 1000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  height: 80px;
  padding: 10px 10px;
  margin: 0;
  line-height: 1;
}
section nav:hover {
  background: linear-gradient(
    90deg,
    rgba(228, 172, 2, 1),
    rgba(250, 204, 34, 1)
  );
}
section nav ul li {
  position: relative;
}
section nav ul li a {
  font-weight: lighter;
  color: black;
  text-decoration: none;
  transition: 0.3s;
}
section nav ul li a i {
  margin-right: 5px;
}

section nav ul li a.action {
  color: #facc22;
}

section nav ul li a:hover {
  color: #fff;
  text-shadow: 0px 0px 20px white;
}

section nav .login a {
  color: #000;
  text-decoration: none;
  border: 2px solid #facc22;
  border-radius: 20px;
  padding: 7px 20px;
  transition: 0.3s;
}

section nav .login a:hover {
  background: #facc22;
  color: #fff;
}

._3Y9ZP {
  margin-top: 24px;
  font-size: 20px;
  font-weight: 600;
  color: #535665;
}
.d7jCU {
  margin-top: 8px;
  color: #7e808c;
}
button._3pgCg {
  margin-top: 30px;
  padding: 11px 20px;
  text-transform: uppercase;
  background-color: #fc8019;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  border: 0;
  outline: 0;
  font-size: 15px;
  text-align: center;
  -ms-transform: translateY(0);
  transform: translateY(0);
  transition: transform 0.8s cubic-bezier(0.2, 1, 0.2, 1);
}

._3Y9ZP,
.d7jCU,
._3pgCg {
  margin: 10px;
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10vh;
  text-align: center;
}

/* Add this to your CSS file */
.cart-item {
  display: flex;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  padding: 10px;
  align-items: center;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.item-image {
  max-width: 100px;
  height: auto;
  margin-right: 20px;
}

.item-name {
  font-size: 18px;
  font-weight: bold;
}

.item-description {
  font-size: 14px;
}

.order-button {
  background-color: #ff5722;
  color: #fff;
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 10px;
}

.order-button:hover {
  background-color: #e64a19;
}

.item-price {
  font-size: 14px;
  color: #007bff;
  margin-top: -1px;
}
