*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: serif;
}

#Effect {
    color: white;
    text-shadow: 1px 1px 2px black, 0 0 10px rgb(187, 152, 35);}

section{
    width: 100%;
    height: 100vh;
}

section nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #fff;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1000;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    height: 80px; 
    padding: 10px 20px; 
    margin: 0; 
    line-height: 1; 
}
.cart{
    width: 20px;
    position: relative;
    left: -15%;
    cursor: pointer;
}

section nav .logo img{
    /* width: 120px;
    margin: 20px 0; */
    width: 140px;
    margin: 20px;
    position: relative;
    left: -118%;
    cursor: pointer;
    margin-left: 110%;      
}

section nav ul{
    list-style: none;
    
    margin-left: 60%;
}

section nav ul li{
    display: inline-block;
    margin: 0 10px;
    
}

section nav ul li a{
    color: black;
    text-decoration: none;
    transition: 0.3s;
   
    
}

section nav ul li a.action{
    color: #facc22;
}

section nav ul li a:hover{
    color: #facc22;
}

section nav .login a{
    color: #000;
    text-decoration: none;
    border: 2px solid #facc22;
    border-radius: 20px;
    padding: 7px 20px;
    transition: 0.3s;
}

section nav .login a:hover{
    background: #facc22;
    color: #fff;
}

section .main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 80px;
}

section .main .main_text h1{
    color: #000;
    font-size: 85px;
    position: relative;
    top: -25px;
    left: 5%;
}

section .main .main_text h1 span{
    color: #facc22;
    font-family: polo;
}

section .main .main_text p{
    color: #000;
    width: 650px;
    position: relative;
    top: 5px;
    left: 5%;
    line-height: 23px;
    text-align: justify;
}

section .main .main_text .btn i{
    margin-right: 5px;
}

section .main .main_text .btn{
    color: #000;
    text-decoration: none;
    border: 2px solid #facc22;
    padding: 10px 20px;
    position: relative;
    top: 60px;
    left: 5%;
    transition: 0.3s;
}

section .main .main_text .btn:hover{
    color: #fff;
}

section .main .main_text .btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #facc22;
    z-index: -1;
    transition: 0.3s;
}

section .main .main_text .btn:hover::before{
    top: unset;
    width: 100%;
    bottom: 0;
}

section .main .main_image img{
    width: 650px;
    animation: animate 5s linear infinite;
}




/*--About--*/

.about{
    width: 100%;
    height: 100vh;
    padding: 10px 0 0 0;
    background-image: url(/image/about_bg.jpg);
    background-size: cover;
    background-position: center;
}

.about .about_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about .about_main .about_image img{
    width: 750px;
}

.about .about_main .about_text h1{
    font-size: 85px;
    position: relative;
    bottom: 40px;
}

.about .about_main .about_text h1 span{
    color: #facc22;
    margin-right: 15px;
}

.about .about_main .about_text h3{
    position: relative;
    bottom: 10px;
    font-size: 30px;
}

.about .about_main .about_text p{
    width: 650px;
    text-align: justify;
    line-height: 23px;
    margin-top: 20px;
}

.about .about_main .about_text .about_services{
    margin-top: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.about .about_main .about_text .about_services .s_1{
    display: flex;
    align-items: center;
    width: 180px;
    background: #ececec;
    padding: 10px;
    border: 2px solid #facc22;
    cursor: pointer;
}

.about .about_main .about_text .about_services .s_1 i{
    color: #000;
    margin: 5px 10px 5px 5px;
    font-size: 20px;
    transition: 0.3s;
}

.about .about_main .about_text .about_services .s_1:hover i{
    color: #facc22;
}

.about .about_main .about_text .about_services .s_1 a{
    text-decoration: none;
    color: #000;
    font-size: 16px;
}

.about .about_main .about_text .about_btn i{
    font-size: 15px;
    margin-right: 5px;
}

.about .about_main .about_text .about_btn{
    position: relative;
    top: 35px;
    padding: 10px 20px;
    border: 2px solid #facc22;
    text-decoration: none;
    color: #000;
    z-index: 5;
    transition: 0.3s;
}

.about .about_main .about_text .about_btn:hover{
    color: #fff;
}

.about .about_main .about_text .about_btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    z-index: -1;
    background: #facc22;
    transition: 0.3s;
}

.about .about_main .about_text .about_btn:hover::before{
    top: unset;
    width: 100%;
    bottom: 0;
}





/*Menu*/

.menu{
    width: 100%;
    height: 100vh;
    padding: 75px 0;
}

.menu h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 75px;
    color: #000;
}

.menu h1 span{
    color: #facc22;
    margin-left: 15px;
}

.menu .menu_box{
    width: 95%;
    margin: 45px auto 0 auto;
    display: grid;
    grid-gap: 30px 10px;
    grid-template-columns: 1fr 1fr 1fr;
}

.menu .menu_box .menu_card{
    background-image: url(/image/menu_card_bg.png);
    background-size: cover;
    background-position: center;
    margin: 0 auto;
    width: 450px;
    height: 575px;
    text-align: center;
    cursor: pointer;
    padding: 20px 0;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0,0,0,0.2);
}

.menu .menu_box .menu_card .menu_img{
    margin: 0 auto;
    width: 420px;
    height: 300px;
    margin-bottom: 15px;
    box-shadow: 0 0 8px rgba(0,0,0,0.7);
}

.menu .menu_box .menu_card .menu_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.menu .menu_box .menu_card .menu_text h2{
    font-size: 30px;
    margin-bottom: 15px;
}

.menu .menu_box .menu_card .menu_text p{
    line-height: 21px;
    margin-bottom: 15px;
    margin: 0 auto;
    width: 400px;
}

.menu .menu_box .menu_card .menu_text .menu_icon{
    color: #facc22;
    margin: 8px 0;
}

.menu .menu_box .menu_card .menu_text .price{
    font-weight: bold;
    font-size: 20px;
    padding: 8px 0;
    margin-left: 45px;
}

.menu .menu_box .menu_card .menu_text .price sub{
    margin-left: 5px;
    color: #6d6a6a;
    font-size: 13px;
}

.menu .menu_box .menu_card .menu_text .menu_btn{
    color: #000;
    text-decoration: none;
    padding: 10px 20px;
    border: 2px solid #facc22;
    position: relative;
    top: 20px;
    z-index: 5;
    transition: 0.3s;
}

.menu .menu_box .menu_card .menu_text .menu_btn:hover{
    color: #fff;
}

.menu .menu_box .menu_card .menu_text .menu_btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background-color: #facc22;
    z-index: -1;
    transition: 0.3s;
}

.menu .menu_box .menu_card .menu_text .menu_btn:hover::before{
    top: unset;
    bottom: 0;
    width: 100%;
}

.menu .menu_box .menu_card .menu_text .menu_btn i{
    margin-right: 5px;
}




/*Banner*/

.banner{
    width: 100%;
    height: 50vh;
    margin: 10px 0;
    background-image: url(/image/banner.jpg);
    background-size: cover;
    background-position: center;
}

.banner h1{
    font-family: P22Grenville;
    color: #facc22;
    font-size: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 25px;
}

.banner .banner_center{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 250px;
    margin: 0 auto;
}
.banner .banner_center h2{
    font-size: 80px;
    margin-right: 3px;
    font-family: Norwester;
    color: #fff;
}

.banner .banner_center h2 span{
    margin-left: 45px;
    font-size: 30px;
    position: relative;
    bottom: 15px;
    font-family: Norwester;
}

.banner .banner_center span{
    color: #fff;
}

.banner .banner_center .banner-percent{
    font-size: 40px;
}


.banner .banner_btn{
    color: #fff;
    border: 2px solid #facc22;
    padding: 10px 20px;
    text-decoration: none;
    position: relative;
    top: 10%;
    left: 46%;
    z-index: 5;
}

.banner .banner_btn i{
    margin-right: 5px;
}

.banner .banner_btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: #facc22;
    transition: 0.3s;
    z-index: -1;
}

.banner .banner_btn:hover::before{
    width: 100%;
    top: unset;
    bottom: 0;
}




/*Gallery*/

.gallery{
    width: 100%;
    padding: 35px 0 50px 0;
}

.gallery h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 65px;
}

.gallery h1 span{
    color: #facc22;
    margin-left: 15px;
}

.gallery .gallery_box{
    width: 95%;
    margin: 50px auto 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.gallery .gallery_box .gallery_image{
    width: 470px;
    height: 350px;
    margin: 0 auto;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 2px 2px 8px rgba(0,0,0,0.3);
}

.gallery .gallery_box .gallery_image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.gallery .gallery_box .gallery_image:hover img{
    transform: scale(1.1);
}



/*Offer*/

.offer{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.offer .offer_box{
    width: 95%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 15px;
    margin: 0 auto;
}

.offer .offer_box .offer_card_1{
    width: 720px;
    height: 470px;
}

.offer .offer_box .offer_card_1 .offer_img{
    width: 720px;
    height: 470px;
}

.offer .offer_box .offer_card_1 .offer_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.offer .offer_box .offer_card_1 .offer_tag{
    position: relative;
    bottom: 400px;
    color: #fff;
    padding: 0 35px;
}

.offer .offer_box .offer_card_1 .offer_tag h2{
    font-size: 45px;
}

.offer .offer_box .offer_card_1 .offer_tag h1{
    font-family: QuillScript;
    font-size: 60px;
    color: #facc22;
}

.offer .offer_box .offer_card_1 .offer_tag p{
    margin-top: 30px;
    width: 200px;
    line-height: 22px;
}

.offer_tag_pdiv {
    background-color: #0000005a;
    padding: 10px 10px 10px 10px;
    box-shadow: 1px 1px 1px rgba(127, 127, 127, 0.598);
}

.offer .offer_box .offer_card_1 .offer_tag .offer_btn{
    color: #fff;
    border: 2px solid #facc22;
    padding: 10px 20px;
    text-decoration: none;
    position: relative;
    top: 30px;
    z-index: 2;
    transition: 0.3s;
}

.offer .offer_box .offer_card_1 .offer_tag .offer_btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #facc22;
    width: 0;
    height: 100%;
    transition: 0.3s;
    z-index: -1;
}

.offer .offer_box .offer_card_1 .offer_tag .offer_btn:hover::before{
    width: 100%;
}

.offer .offer_box .offer_card_1 .offer_tag .offer_btn i{
    margin-right: 5px;
}

.offer .offer_box .offer_card_2{
    width: 720px;
    height: 470px;
}

.offer .offer_box .offer_card_2 .offer_img{
    width: 720px;
    height: 470px;
}

.offer .offer_box .offer_card_2 .offer_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.offer .offer_box .offer_card_2 .offer_tag{
    position: relative;
    bottom: 400px;
    color: #fff;
    padding: 0 35px;
}

.offer .offer_box .offer_card_2 .offer_tag h2{
    font-size: 45px;
}

.offer .offer_box .offer_card_2 .offer_tag h1{
    font-family: QuillScript;
    font-size: 60px;
    color: #facc22;
}

.offer .offer_box .offer_card_2 .offer_tag p{
    margin-top: 30px;
    width: 200px;
    line-height: 22px;
}

.offer .offer_box .offer_card_2 .offer_tag .offer_btn{
    color: #fff;
    border: 2px solid #facc22;
    padding: 10px 20px;
    text-decoration: none;
    position: relative;
    top: 30px;
    z-index: 2;
    transition: 0.3s;
}

.offer .offer_box .offer_card_2 .offer_tag .offer_btn::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background-color: #facc22;
    width: 0;
    height: 100%;
    transition: 0.3s;
    z-index: -1;
}

.offer .offer_box .offer_card_2 .offer_tag .offer_btn:hover::before{
    width: 100%;
}

.offer .offer_box .offer_card_2 .offer_tag .offer_btn i{
    margin-right: 5px;
}





/*Team*/

.team{
    width: 100%;
    height: 77vh;
    padding: 10px 0;
}

.team h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.team h1 span{
    color: #facc22;
    margin-left: 15px;
}

.team .team_line_1{
    width: 100%;
    height: 50px;
    background: #facc22;
    position: relative;
    top: 25%;
    z-index: 1;
}

.team .team_line_2{
    width: 100%;
    height: 50px;
    background: #facc22;
    position: relative;
    top: 56%;
    z-index: 1;
}

.team .team_box{
    width: 95%;
    height: auto;
    margin: 0 auto;
    position: relative;
    bottom: 55px;
    padding: 15px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 0;
}

.team .team_box .team_card{
    width: 350px;
    height: 410px;
    background: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    margin: 0 auto;
    z-index: 5;
    box-shadow: 1px 2px 10px rgba(0,0,0,0.2);
}

.team .team_box .team_card .team_img{
    display: flex;
    align-items: center;
    justify-content: center;
}

.team .team_box .team_card .team_img img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    object-position: center;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
}

.team .team_box .team_card .team_tag h2{
    margin: 10px 0;
}

.team .team_box .team_card .team_tag p.info{
    text-align: center;
    line-height: 23px;
    margin-top: 10px;
}



/*Blog*/

.blog{
    width: 100%;
    height: auto;
    padding: 30px 0;
}

.blog h1{
    color: #000;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.blog h1 span{
    color: #facc22;
    margin-left: 15px;
}

.blog .blog_box{
    width: 95%;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

.blog .blog_box .blog_card{
    margin: 0 auto;
    width: 450px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.blog .blog_box .blog_card .blog_img{
    width: 450px;
    height: 300px;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.blog .blog_box .blog_card .blog_img img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

.blog .blog_box .blog_card .blog_tag .blog_date{
    width: 100%;
    color: #facc22;
    padding: 15px 0 0 20px;
    font-size: 14px;
}

.blog .blog_box .blog_card .blog_tag .blog_date i{
    margin-left: 8px;
    font-size: 14px;
    cursor: pointer;
}

.blog .blog_box .blog_card .blog_tag .blog_heading{
    padding: 10px 20px 10px 20px;
    font-size: 25px;
}

.blog .blog_box .blog_card .blog_tag .blog_text{
    padding: 0 20px 10px 20px;
    text-align: justify;
    line-height: 21px;
}

.blog .blog_box .blog_card .blog_tag hr{
    width: 95%;
    margin: 0 auto;
    height: 1px;
    border: 0;
    background: #facc22;
    border-radius: 5px;
}

.blog .blog_box .blog_card .blog_tag .view_and_like{
    padding: 10px 20px 25px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.blog .blog_box .blog_card .blog_tag .view_and_like .view{
    display: flex;
    align-items: center;
}

.blog .blog_box .blog_card .blog_tag .view_and_like .view p{
    margin-right: 10px;
    font-size: 14px;
}

.blog .blog_box .blog_card .blog_tag .view_and_like .like{
    display: flex;
    align-items: center;
    font-size: 14px;
}

.blog .blog_box .blog_card .blog_tag .view_and_like .like i{
    cursor: pointer;
    margin-left: 5px;
}



/*Oder*/

.order{
    width: 100%;
    height: 100vh;
    padding: 5px 0;
}

.order h1{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
}

.order h1 span{
    color: #facc22;
    margin-right: 10px;
}

.order .order_main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 15px;
}

.order .order_main .order_img img{
    width: 650px;
}

.order .order_main .order_form{
    width: 60%;
    height: 620px;
    background: #faf3ce;
    padding: 15px 20px 0 20px;
    border-radius: 10px;
}

.order .order_main .order_form h2{
    text-align: center;
    margin-bottom: 40px;
    font-size: 30px;
}

.order .order_main .order_form .order_list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0 20px;
    margin-bottom: 30px;
}

.order .order_main .order_form .order_list p{
    margin-bottom: 5px;
}

.order .order_main .order_form .order_list input{
    width: 350px;
    border: 2px solid #facc22;
    border-radius: 5px;
    outline: none;
    background: none;
    color: #000;
    padding: 10px 5px;
    margin-bottom: 15px;
}

.order .order_main .order_form .order_list textarea{
    width: 350px;
    height: 200px;
    border: 2px solid #facc22;
    border-radius: 5px;
    outline: none;
    background: none;
    color: #000;
    padding: 10px 5px;
}

.order .order_main .order_form .order_btn{
    padding: 10px 20px;
    border: 2px solid #facc22;
    text-decoration: none;
    color: #fff;
    background: #facc22;
}

.order .order_main .order_form .order_btn i{
    margin-right: 8px;
}

textarea {
    width: 100%;
    height: 100px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    background-color: #f8f8f8;
    font-size: 16px;
    resize: none;
  }


/*Footer*/

footer{
    width: 100%;
    padding: 30px 0 0 20px;
    background: #eeeeee;
    
}

footer .footer_main{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    margin-top: 4%;
    
}

footer .footer_main .footer_tag{
    text-align: center;
}

footer .footer_main :first-child{
    text-align: center;
    border-style: none;
}

footer .footer_main .footer_tag h2{
    color: #000;
    margin-bottom: 25px;
    font-size: 30px;
}

footer .footer_main .footer_tag p{
    margin: 10px 0;
}

footer .footer_main .footer_tag i{
    margin: 0 5px;
    cursor: pointer;
}

footer .footer_main .footer_tag i:hover{
    color: #facc22;
}

footer .end{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
}

footer .end span{
    color: #facb22;
    margin-left: 10px;
}

footer .end span:hover{
    font-size: x-large;
}

::-webkit-scrollbar{
    width: 10px;
}

::-webkit-scrollbar-thumb{
    background: #facc22;
    border-radius: 30px;
}

.anim{
    opacity: 0;
    transform: translateY(40px);
    animation: moveup 0.5s linear forwards;
}

@keyframes moveup{
    100%{
        opacity: 1;
        transform: translateY(0);
    }
}


@keyframes animate{
    0%{
        transform: scale(1.1);
    }
    50%{
        transform: scale(1);
    }
    100%{
        transform: scale(1.1);
    }
}