footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    /* background-color: #333; */
    /* color: #fff; */
    padding: 20px 0;
    text-align: center;
}

a{
    text-decoration: none;
    color: gray;
}

a.exception{
    color:gray;
}

/* div {
    display: flex;
    justify-content: center;
    } */


    div#hideall {
        position: fixed;
        top: 0%;
        height: 100%;
        width: 100%;
    }

.searchbutton {
    background: none;
    appearance: none;
	border: none;
}

div.middle {
    display: flex;
    justify-content: center;
}

.changeposition {
    order: -1;
}


/* XXX Small screens (320px and up) */
@media only screen and (min-width: 320px) {

.searchsection {
    /* position: relative;
    border: 1px solid lightgray;
    border-radius: 20px;
    display: flex;
    width: 300px;
    flex-direction: column; */
    position:absolute;
    justify-content: center;
    align-items: center;
    top: 20%;
    transform: translateY(-50%);
    width: 300px;
    border: 1px solid lightgray; 
    border-radius: 20px;
    z-index: 1;
    left: 550px;
    /* display: flex;
    flex-direction: column;
    z-index: 1;
    overflow: hidden;  */
}

    .search {
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: #81D4FA;
    }

    .searchbar {
        font-size: 10px;
        padding: 10px;
        border: none;
        width: 550px;
        margin-left: 10px;
        margin-top: 6px;
        margin-bottom: 6px;
        outline: none;
        border-radius: 30px;
        color: black;
        font-family: 'Roboto', sans-serif;
        cursor: pointer;
       }

    .searchbar:focus {
        background-color:gainsboro;
        cursor: text;
    }

    .searchbar:hover {
        background-color: gainsboro;
    }

    .searchimg {
        border-radius: 30px;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 2px;
        margin-right: 8px;
        cursor: pointer;
    }

    .searchimg:hover {
        /* background-color: #edf2fb; */
        background-color:whitesmoke;
    }

     .closeimg {
        display: none;
        outline: none;
        padding: 5px;
        margin-top: 5px;
        margin-bottom: 2px;
        margin-left: 8px;
        border-radius: 30px;
        cursor: pointer;
    }

    .closeimg:focus {
        background-color: #edf2fb;
    }

    .closeimg:hover {
        background-color: #edf2fb;
    }
   
   .list {
       display: none;
       position: relative;
       flex-wrap: wrap;
       font-size: 10px;
       padding: 0px;
       overflow: auto;
       max-height: 120px;
       width: 100%;
       opacity: 0;
       list-style-type: none;
       color: rgb(255, 255, 255);
   }

   .list:focus {
    background-color: #edf2fb;
}

   .borderbetween {
    display: none;
    border-top: 1px rgb(224, 222, 222) dashed;
    margin-top: 10px;
    margin-bottom: 5px;
    width: 80%;
   }
   
   .section {
       padding-left: 5px;
       padding-right: 5px;
       padding-top: 10px;
       padding-bottom: 10px;
       text-align: center;
       cursor: pointer;
       color: black;
       font-family: 'Roboto', sans-serif;
   }

   .section:hover {
    background-color: rgb(235, 222, 222);
   }

     .noresult {
         display: none;
       padding-left: 5px;
       padding-right: 5px;
       padding-top: 10px;
       padding-bottom: 10px;
       color: #9c9a97;
       text-align: center;
       cursor: default;
       border-radius: 10px;
       font-family: 'Roboto', sans-serif;
   }
   
    }
    
    /* X Small screens (425px and up) */
    @media only screen and (min-width: 425px) {
       
    }
    
    /* Small screens (640px and up) */
    @media only screen and (min-width: 640px) {
        .searchbar {
            font-size: 12px;
           }
       
       .list {
           font-size: 12px;
           max-height: 180px;
       }

       .searchsection {
           width: 500px;
       }

       .searchimg {
           margin-right: 8px;
       }

       .closeimg {
           margin-left: 8px;
       }
    }
    
    /* Medium screens (768px and up) */
    @media only screen and (min-width: 768px) {
        .searchbar {
            font-size: 14px;
           }
       
       .list {
           font-size: 14px;
       }
    }
    
    /* Large screens (1024px and up) */
    @media only screen and (min-width: 1024px) {
        
    }
    
    /* X Large screens (1280px and up) */
    @media only screen and (min-width: 1280px) {
    }
    
    /* XX Large screens (1536px and up) */
    @media only screen and (min-width: 1536px) {

        .searchbar {
            font-size: 16px;
        }

       .list {
          font-size: 16px;
        }
    }
     
    /* XXX Large screens (2560px and up) */
    @media only screen and (min-width: 2560px) {

       .list {
          max-height: 240px;
        }
    }
    
    .hide {
        visibility: hidden;
        opacity: 0;
        transition: visibility 0.5s, opacity 0.5s;
      }

    .show {
        display: initial;
        visibility: visible;
        opacity: 1;
        transition: visibility 0.5s, opacity 0.5s;
      }

      .remove {
          display: none;
      }

      .add {
          display: initial;
      }

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }